<!doctype html>
<html>
	<head>
		<style>
		div.rd {
			font-weight: bold;
			color: red;
		}
		div.mycol {
			float: left;
			width: 150px;
		}
		div.form-group {
			padding-top: 10px;
			padding-bottom: 60px;
		}
		div.end {
			padding: 20px;
			padding-bottom: 40px;
		}
		h2.head {
			font-size: 22px;
		}
		h3.head {
			font-size: 18px;
			font-weight: bold;
			padding-bottom: 3px;
		}
		label.normtext {
			font-weight: normal;
		}
		div.outcol{
			padding: 30px;
			float: left;
			padding-bottom: 40px;
		}
		</style>
	</head>
	<body>

	</body>
</html>
